
  .target__subtitle {
    text-align: center;
    font-size: 28px;
    color: #082A58;
    margin-bottom: 40px; }
    @media (max-width: 767.98px) {
      .target__subtitle {
        font-size: 24px;
        margin-bottom: 30px; } }
  
  .target__center {
    position: relative;
    position: relative;
    width: 740px;
    margin: 0 auto;
    margin-bottom: 40px; }
    @media (max-width: 991.98px) {
      .target__center {
        margin-bottom: 50px; } }
    @media (max-width: 767.98px) {
      .target__center {
        width: 100%;
        } }

        @media (max-width: 991.98px) {
            .target__full {
                display: none;
            }
        }
  
  @media (max-width: 991.98px) {
    .target__img-wrap {
      position: absolute;
      top: -90px;
      right: -130px;
      -webkit-transform: scale(0.7);
              transform: scale(0.7); } }
  
  @media (max-width: 767.98px) {
    .target__img-wrap {
      display: none; } }
  
  .target__img {
    position: relative;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
    @media (max-width: 1199.98px) {
      .target__img {
        -webkit-transform: translateX(-20px) scale(0.9);
                transform: translateX(-20px) scale(0.9); } }
  
  .target__full {
    position: relative;
    width: 100%;
transform: rotate(1deg); }
  
  .target__wrap {
    position: absolute;
    width: 460px;
    height: 460px;
    z-index: -1;
    top: 80px;
    left: 170px; }
  
  .target__thin {
    position: absolute;
    top: 0;
    left: 0; }
  
  .target__round {
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 25px; }
  
  .target__border {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 14px;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border: 5px solid #3665A4; }
  
  .target__block {
    position: absolute;
    bottom: 70px;
    right: 60px;
    width: 185px; }
    .target__block img {
      width: 100%; }
    @media (max-width: 991.98px) {
      .target__block {
        right: 120px; } }
  
  .target__list {
    width: 500px;
    padding: 0;
    margin: 0;
    font-size: 13px;
    list-style: none;
    position: absolute;
    top: 60px;
    color: #5A5A5A;
    font-weight: 700; }
    .target__list li {
      margin-bottom: 60px; }
    .target__list span {
      font-weight: 400; }
    @media (max-width: 991.98px) {
      .target__list {
        position: static;
        -webkit-transform: translate(0, 0) !important;
                transform: translate(0, 0) !important;
        list-style: inside;
        list-style-position: outside; }
        .target__list li {
          -webkit-transform: translate(0, 0) !important;
                  transform: translate(0, 0) !important;
          text-align: left;
          margin-bottom: 20px !important;
          width: auto !important; } }
    @media (max-width: 767.98px) {
      .target__list {
        width: 100%;
        padding-left: 15px;
        
        } 
        .target__list li br{
        display:none;
        }}
  
  .target__list-left {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    text-align: right;
    left: 0; }
    .target__list-left li:nth-child(1) {
      -webkit-transform: translateX(-130px);
              transform: translateX(-130px); }
    .target__list-left li:nth-child(2) {
      -webkit-transform: translateX(-260px);
              transform: translateX(-260px); }
    .target__list-left li:nth-child(3) {
      -webkit-transform: translateX(-310px);
              transform: translateX(-310px); }
    .target__list-left li:nth-child(4) {
      -webkit-transform: translateX(-310px);
              transform: translateX(-310px); }
    .target__list-left li:nth-child(5) {
      -webkit-transform: translateX(-280px);
              transform: translateX(-280px); }
    @media (max-width: 1199.98px) {
      .target__list-left {
        -webkit-transform: translateX(-45px);
                transform: translateX(-45px); } }
  
  /* .target__list-right {
    -webkit-transform: translate(210px, -20px);
            transform: translate(210px, -20px);
    right: -4px; }
    .target__list-right li:nth-child(1) {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      margin-bottom: 50px; }
    .target__list-right li:nth-child(2) {
      -webkit-transform: translateX(127px);
              transform: translateX(127px);
      margin-bottom: 45px; }
    .target__list-right li:nth-child(3) {
      -webkit-transform: translateX(170px);
              transform: translateX(170px);
  margin-bottom: 75px;}
    .target__list-right li:nth-child(4) {
      -webkit-transform: translateX(180px);
              transform: translateX(180px); }
    @media (max-width: 1199.98px) {
      .target__list-right {
        -webkit-transform: translate(190px, -20px);
                transform: translate(190px, -20px); }
        .target__list-right li:nth-child(3) {
          width: 230px;
          margin-bottom: 40px; } } */
  
  .target__row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -33px; }
    @media (max-width: 767.98px) {
      .target__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 0 100px; } }
  
  .target__line {
    position: absolute;
    top: 83px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #C4C4C4; }
  
  .target__item {
    width: 33.33%;
    padding: 0 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 991.98px) {
      .target__item {
        padding: 0 25px; } }
    @media (max-width: 767.98px) {
      .target__item {
        width: 100%;
        margin-bottom: 30px; } }
  
  .target__item-img {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    margin-bottom: 24px; }
    .target__item-img.item-1 {
      background: url("img/target-item-1.png") no-repeat center;
      background-color: #fff; }
    .target__item-img.item-2 {
      background: url("img/target-item-2.png") no-repeat center;
      background-color: #fff; }
    .target__item-img.item-3 {
      background: url("img/target-item-3.png") no-repeat center;
      background-color: #fff; }
  
  .target__item-round {
    position: relative;
    width: 146px;
    height: 146px;
    border-radius: 50%;
    border: 3px solid #082A58; }
    .target__item-round::before, .target__item-round::after {
      position: absolute;
      top: 50%;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #082A58; }
    .target__item-round::before {
      left: -6px; }
    .target__item-round::after {
      right: -6px; }
  
  .target__item-round-thin {
    position: absolute;
    z-index: -1;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    border: 1px solid #082A58; }
  
  .target__item-title {
    text-align: center;
    font-family: "DaysOne", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #FA3134;
    margin-bottom: 5px; }
  
  .target__item-text {
    color: #000;
    text-align: center; }
  
  .target__item-mark {
    color: #000;
    text-align: center;
    font-weight: bold; }
  


    
@media (max-width: 768px) {
    .target__subtitle {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

.target__center {
    position: relative;
    position: relative;
    width: 740px;
    margin: 0 auto;
    margin-bottom: 40px;
}

@media (max-width: 991.98px) {
    .target__center {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .target__center {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 991.98px) {
    .target__img-wrap {
        transform: scale(0.7);
        width: 100%;
        display: none;
    }
}

.target__img {
    position: relative;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

@media (max-width: 1199.98px) {
    .target__img {
        -webkit-transform: translateX(-20px) scale(0.9);
        transform: translateX(-20px) scale(0.9);
    }
}

@media (max-width: 900px) {
    .target__full {
        top: 0 !important;
        margin-top: 30px;
    }
}


@media (max-width: 768px) {
    .target__subtitle {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 991.98px) {
    .target__center {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .target__center {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 991.98px) {
    .target__img-wrap {
        transform: scale(0.7);
        width: 100%;
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .target__img {
        -webkit-transform: translateX(-20px) scale(0.9);
        transform: translateX(-20px) scale(0.9);
    }
}

@media (max-width: 900px) {
    .target__full {
        top: 0 !important;
        margin-top: 30px;
    }
}

@media (max-width: 1000px) {
    .target__list {
        position: static;
        -webkit-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
        list-style: inside;
    }

    .target__list li {
        -webkit-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
        text-align: left;
        margin-bottom: 20px !important;
        width: auto !important;
    }
}

@media (max-width: 1000px) {
    .target__list {
        width: 100%;
        padding-left: 15px;

    }

    .target__list li br {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .target__list-left {
        -webkit-transform: translateX(-45px);
        transform: translateX(-45px);
    }
}

.target__list-right {
    -webkit-transform: translate(210px, -20px);
    transform: translate(210px, -20px);
    right: -4px;
    top: 80px;
}

.target__list-right li:nth-child(1) {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    margin-bottom: 50px;
}

.target__list-right li:nth-child(2) {
    -webkit-transform: translateX(127px);
    transform: translateX(127px);
    margin-bottom: 45px;
}

.target__list-right li:nth-child(3) {
    -webkit-transform: translateX(170px);
    transform: translateX(170px);
    margin-bottom: 75px;
}

.target__list-right li:nth-child(4) {
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
}

@media (max-width: 1199.98px) {
    .target__list-right {
        -webkit-transform: translate(190px, -20px);
        transform: translate(190px, -20px);
    }

    .target__list-right li:nth-child(3) {
        width: 230px;
        margin-bottom: 40px;
    }
}

@media (max-width:768px) {

    .about-header-wrap p,
    h1 {
        font-size: 20px;
    }

    .about-header-wrap h1 {
        font-size: 20px;
    }

    .about-header-wrap h5 {
        font-size: 20px;
    }

    .about-subtitle {
        font-size: 20px;
        margin: 30px 0;
    }

    .target__wrap {
        height: 260px;
        margin-bottom: 50px;
    }

}

@media (max-width:1050px) {
    .target__thin {
        display: none;
    }

    .target__border {
        display: none;
    }
}